extends layout

block content
  h1= title
  
  head
    
    head
  body
    nav
      ul.menu_201113797
        li
          a(href="/") Inicio 

        li
          a(href="login") login

     #registro_201113797
      p.title_201113797  Welcome to #{title}
      img(src='/images/bus.gif', alt='My image')
     
     footer 
      p 
      | by Andrea Alvarez 201113797