doctype
html
  head
    SO-P3
    script(type='text/javascript', src='/javascripts/socket.io.js')
    script(type='text/javascript', src='/javascripts/pagina2.js')
  body
    header
      h1 Pagina2
      p
        | <a href="/">index</a> |  
        | <a href="prueba">prueba</a> |  
        | <a href="#">pagina2</a> |  
        | <a href="pagina3">pagina3</a> |  

    .container
      .main-content#divPagina2
        block content 
      .sidebar
        block sidebar
    footer
      p 
        | by Andrea Alvarez 201113797
