html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/principal_201113797.css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/jqueryui/jquery-ui.js')

    nav
      ul.menu_201113797
        li
          a(href="/abc") ABC

        li
          a(href="/reservacion") Reservacion

        li
          a(href="/reporte") Reporte

        li
          a(href="/help") Help

        li
          a(href="/") logout

  h1= title
  
  head
    
  head
  body
    #login_201113797

      h2 Altas de Rutas
      form(action="abc", method="POST")
        p.title_201113797 ingresos
        | Origen: 
        input(type='text', name='fname')
        br
        | Destino: 
        input(type='text', name='lname')
        br
        input.boton_azul_201113797(id='ingreso', type='submit', value='Agregar')

      h2 Bajas de Rutas
      p.title_201113797 recorte
      | id ruta: 
      input(type='text', name='fname')
      br
      input.boton_azul_201113797(type='submit', value='Eliminar', onclick="href='pagina2'")

      h2 Medias de Rutas
      p.title_201113797 modificacion
      | id Ruta: 
      input(type='text', name='fname')
      br
      | id Viaje: 
      input(type='text', name='lname')
      br
      input.boton_azul_201113797(type='submit', value='Guardar', onclick="href='pagina2'")
    footer by Andrea 
    
    script.
      $("#ingreso").click(function(){});

