extends layout
block content
  h1= title
  
  head
    
  head
  body

    nav
      ul.menu_201113797
        li
          a(href="/") ABC

        li
          a(href="/") Reservacion

        li
          a(href="/") B

        li
          a(href="/") C

        li
          a(href="/") logout

    #login_201113797
      p.title_201113797 BUSRUN
      | First name: 
      input(type='text', name='fname')
      br
      |Last name: 
      input(type='text', name='lname')
      br
      input.boton_azul_201113797(type='submit', value='Login', onclick="href='pagina2'")
    footer by Andrea 
    

