html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/principal_201113797.css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/jqueryui/jquery-ui.js')

    nav
      ul.menu_201113797
        li
          a(href="/abc") ABC

        li
          a(href="/reservacion") Reservacion
        li
          a(href="/nruta") Ruta
        li
          a(href="/reporte") Reporte

        li
          a(href="/help") Help

        li
          a(href="/") logout

  h1= title
  
  head
    
  head
  body
    #login_201113797
      nav
      ul.menu_201113797
        li
          a(href="/abc") Altas

        li
          a(href="/bca") bajas

        li
          a(href="/cba") medias

      br

      h2 Medias de Buses
      form(action="cba", method="POST")
        p.title_201113797 modificacion
        | id Bus: 
        input(type='text', name='fname1')
        br
        br
        | Tipo Bus: 
        input(type='text', name='lt1')
        br
        br
        | Conductor: 
        input(type='text', name='lname1')
        br
        br
        | Capacidad: 
        input(type='text', name='cname1')
        br
        br
        input.boton_azul_201113797(type='submit',name='modificar', value='Guardar')
        br
    
    
    script.
      $("#ingreso").click(function(){});

