html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/principal_201113797.css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/jqueryui/jquery-ui.js')

    nav
      ul.menu_201113797
        li
          a(href="/abc") ABC

        li
          a(href="/reservacion") Reservacion

        li
          a(href="/reporte") Reporte

        li
          a(href="/help") Help

        li
          a(href="/") logout

  h1= title
  
  head
    
  head
  body
    #login_201113797

      h2 Manual Tecnico
      p.title_201113797 Requisitos Minimos
      
    footer by Andrea 
    

