extends layout

block content
  h1= title
  
  head
    
    head
  body
    
     #registro_201113797
      p.title_201113797  Welcome to #{title}
      img(src='/images/bus.gif', alt='My image')
     
     footer 
      p 
      | by Andrea 