extends layout
block content
  h1= title
  
  head
    
    head
  body
    #login_201113797
      p.title_201113797 BUSRUN Login
      | User: 
      input(type='text', name='fname')
      br
      | Password: 
      input(type='text', name='lname')
      br
      input(type='submit', value='Login', OnClick="href='abc'")
    footer by Andrea 
    

