html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/principal_201113797.css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/jqueryui/jquery-ui.js')

    nav
      ul.menu_201113797
        li
          a(href="/abc") ABC

        li
          a(href="/reservacion") Reservacion
        li
          a(href="/nruta") Ruta
        li
          a(href="/reporte") Reporte

        li
          a(href="/help") Help

        li
          a(href="/") logout

  h1= title
  
  head
    
  head
  body
    #login_201113797
      nav
      ul.menu_201113797
        li
          a(href="/nruta") Nueva Ruta   

        li
          a(href="/nviaje") Nueva Viaje
         
        li
          a(href="/nviajes") Asignar Viajes

        li
          a(href="/nbuses") Asignar Buses

      br
      
      form(action="nviajes", method="POST")
        br
        br
        p.title_201113797 Asignar Viajes
        | id de Ruta: 
        input(type='text', name='fname')
        br
        br
        | id de Viaje: 
        input(type='text', name='lname')
        br
        br
        input.boton_azul_201113797( type='submit',name='ingreso', value='Agregar')

    script.
      $("#ingreso").click(function(){});

